.env
bin/
.DS_Store
.vscode
debug
/.go
/.push-*
/.container-*
/.dockerfile-*
.idea
_vendor*
/main
*.swp
*.swo
/test_local
/release
/clear
develop.go
docker-compose-ci-test.yml
certs
develop.*
tmp
.env.json
__debug_bin
build_and_run.sh
set_local_env.sh
gin-bin
bin